# 1/17

In [1]:
# 자연수 number를 입력 받아, 1부터 number까지의 수를 세로로 한줄씩 출력하시오.
num = int(input())
for i in range(1,num+1):
    print(i)

10
1
2
3
4
5
6
7
8
9
10

In [3]:
# 자연수 number를 입력 받아, number부터 0까지의 수를 세로로 한줄씩 출력하시오 (거꾸로 출력)
num = int(input())
for i in range(num+1):
    print(num-i)

5
5
4
3
2
1
0

In [4]:
"""
입력으로 자연수 number가 주어질 때, 1부터 주어진 자연수 number까지를 모두 더한 값을 출력하시오. 
단, 주어지는 숫자는 10000을 넘지 않는다. 
예를 들어, 주어진 숫자가 10일경우 1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = 55이므로, 출력해야 할 값은 55이다.
"""
number = int(input())
total = 0
for i in range(1,number+1):
    total+=i
print(total)

10
55

# 1/18

In [5]:
# 정수 N의 약수를 오름차순으로 출력하는 프로그램
num = int(input())
divisors = [divisor for divisor in range(1,num+1) if num % divisor == 0]
print(divisors)

10
[1, 2, 5, 10]

In [13]:
# 리스트 numbers에 입력된 숫자에서 중간값을 출력하라
numbers = [45,67,8,75,46,67,78,34,23,67,94,35,14]
numbers.sort()
middle = int(len(numbers)/2)
print(numbers[middle])

46

In [50]:
# 자연수 number를 입력 받아, 아래와 같이 높이가 number인 내려가는 계단을 출력하시오.
num = int(input())
for i in range (1,num+1):
    for j in range(1,i+1):
        print(j,end='')
    print('')

4
1
12
123
1234

# 1/19

In [51]:
# 정수로만 이루어진 list를 전달 받아 해당 list의 모든 요소들의 합을 반환하는 list_sum 함수 작성
# sum() 사용 x
def list_sum(mylist):
    total = 0
    for i in mylist:
        total += i
    return total
list_sum([1,2,3,4,5])

15

In [53]:
# Dictionary로 이루어진 list를 전달 받아 모든 dictionary의 'age' key에 해당하는 value들의 합을 반환하는 dict_list_sum 함수
def dict_list_sum(dictlist):
    total=0
    for i in dictlist:
        total+=i['age']
    return total
dict_list_sum([{'name':'kim', 'age':12},{'name':'jin', 'age':21}])

33

In [54]:
# 정수로만 이루어진 2차원 list를 전달 받아 해당 list의 모든 요소들의 합을 반환하는 all_list_sum 함수
def all_list_sum(all_list):
    total=0
    for list1 in all_list:
        for nums in list1:
            total+=nums
    return total
all_list_sum([[1],[2,3],[4,5,6],[7,8,9,10]])

55